
p{

}

.f{
	background-color: yellow;
	width: 200px;
	height: 200px;
	margin: auto;
	 
}
#f5{
	
	transform: translateY(-600px) translateX(200px) rotateY(-70deg);
	transform-origin: left;
	background-color: red;

	
}
#f6{
	transform: translateY(-800px) translateX(-200px) rotateY(70deg);
	transform-origin: right;
	background-color: red;


}
